<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .cd{
            list-style-type: georgian;
        }
    </style>
</head>
<body>
    <ul class="cd">
        <li>
            Pollachi Ho, Pollachi No 84/44, Andi Gounder Street, Pollachi Ho, Pollachi - 642001 (Arjun Mahal)</li>
        <li> opens at 9.00am</li>
        <li></li>
        <li></li>
    </ul>
</body>
</html>